{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/transform-runtime",
    [
      "component",
      {
        "libraryName": "mint-ui",
        "style": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage"
          }
        ]
      ]
    },
    "testing": {
      "presets": ["@babel/polyfill"]
    },
    "development": {
      "presets": ["@babel/polyfill"]
    }
  }
}
