<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

  <title>星视度</title>
  <script>
    var _paq = _paq || []; //piwik
  </script>
  <% if (htmlWebpackPlugin.options.env.NODE_ENV === '"production"') { %>
    <script>
      //Piwik
      (function () {
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
          var u = "//track.xingstation.com/";
          _paq.push(['setTrackerUrl', u + 'piwik.php']);
          _paq.push(['setSiteId', '1']);
          _paq.push(["setCookieDomain", "*.xingstation.com"]);
          var d = document,
            g = d.createElement('script'),
            s = d.getElementsByTagName('script')[0];
          g.type = 'text/javascript';
          g.async = true;
          g.defer = true;
          g.src = u + 'piwik.js';
          s.parentNode.insertBefore(g, s);
        })();
        // GrowingIO 统计
        !function (e, t, n, g, i) { e[i] = e[i] || function () { (e[i].q = e[i].q || []).push(arguments) }, n = t.createElement("script"), tag = t.getElementsByTagName("script")[0], n.async = 1, n.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + g, tag.parentNode.insertBefore(n, tag) }(window, document, "script", "assets.growingio.com/2.1/gio.js", "gio");
        gio('init', '8fcd22590e2dd3e3', {});
        //custom page code begin here
        //custom page code end here
        gio('send');

      })();
    </script>
    <% } else if (htmlWebpackPlugin.options.env.NODE_ENV === '"test"') { %>
      <script>
        //Piwik
        (function () {
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function () {
            var u = "//track.newgls.cn/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '4']);
            var d = document,
              g = d.createElement('script'),
              s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
          })();
        })();
      </script>
      <% } %>
      <script src="https://webapi.amap.com/maps?v=1.4.3&key=c4c1a035222060a41819bb2fbb726b54"></script>
      <!--<script src="static/feng/js/fengmap.min.js"></script>
      <script src="static/feng/js/layerGroup.js"></script>-->
      <!--live2d-->
      <!-- <script src="./static/live2d3.0/js/utils/pixi.min.js"></script>
      <script src="./static/live2d3.0/js/utils/live2dcubismcore.min.js"></script>
      <script src="./static/live2d3.0/js/utils/live2dcubismframework.js"></script>
      <script src="./static/live2d3.0/js/utils/live2dcubismpixi.js"></script>
     <script src="./static/live2d3.0/js/utils/Model.js"></script>
      <script src="./static/live2d3.0/js/utils/pixilookatmouse.js"></script> -->
       
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>